{% load static %}
{% include 'homeview/sidebar.html' %}


    <div class="container">
        <div class="col-md-5 offset-md-4">
        
            <table class="table table-danger table-striped m-5">
                <thead>
                    <th>ID</th>
                    <th>PRODUCT THUMBNAIL</th>
                    <th>PRODUCT NAME</th>
                    <th>STOCK QUANTITY</th>
                    <th>STOCK STATUS</th>
                    <th>ACTIONS</th>
                </thead>
                {% if products %}
                    {% for prd in products %}
                    
                        <tr class="table-success">
                            <td>{{ prd.id }}</td>
                            <td><img src="{{ prd.product_img.url }}" style="height: 60px; width: 120px"></td>
                            <td>{{ prd.title }}</td>
                            <td>{{ prd.stock_qty }}</td>
                            <td>{{ prd.stock_stat }}</td>
                            <td><a href="#" class="btn btn-primary">View</a></td>
                        </tr>
              
                    {% endfor %}

                    {% else %}

                    <div class="alert alert-primary" role="alert">
                        A simple primary alert—check it out!
                    </div>

                    {% endif %}
                  

                    

                    

                    
               
            </table>
            
        </div>
    </div>


