{% load static %}
{% include 'homeview/sidebar.html' %}


    <div class="container">
        <div class="col-md-5 offset-md-4">
        
            <table class="table table-danger table-striped">
                <thead>
                    <th>ID</th>
                    <th>PRODUCT THUMBNAIL</th>
                    <th>PRODUCT NAME</th>
                    <th>STOCK QUANTITY</th>
                    <th>STOCK STATUS</th>
                    <th>ACTIONS</th>
                </thead>
                
                    {% comment %} {% if products %} {% endcomment %}
                    {% for products in prd %}
                    <tr class="table-success">
                        <td>{{ prd.id }}asdasd</td>
                        <td>{{ prd.img.url }}</td>
                        <td>{{ prd.title }}</td>
                        <td>{{ prd.stock_qty }}</td>
                        <td>{{ prd.stock_stat }}</td>
                        <td><a href="#" class="btn btn-primary">View</a></td>
                    </tr>
                    {% endfor %}
                    {% comment %} {% else %}

                        <div class="alert alert-primary mt-5" role="alert">
                                PRODUCTS NOT FOUND PLEASE ADD SOME
                        </div>
                    {% endif %} {% endcomment %}
                    

                    
               
            </table>
            
        </div>
    </div>


